---
Language: Cpp
BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
ContinuationIndentWidth: 2
TabWidth: 4
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
IndentCaseLabels: false
AllowShortEnumsOnASingleLine: false # is available since clang-format 12.
IndentAccessModifiers: true         # is available since clang-format 13.
NamespaceIndentation: All
SeparateDefinitionBlocks: Always
EmptyLineBeforeAccessModifier: LogicalBlock
BraceWrapping:
  AfterFunction: false
ColumnLimit: 80
AccessModifierOffset: -4
PointerAlignment: Left
DerivePointerAlignment: false